 /* Google fonts import */
 @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Suravaram&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap') async;

 /* Asterisk wildcard selector to override default styles added by the browser */
 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }

 /* General Styles */
 body {
     min-height: 100vh;
     display: flex;
     flex-direction: column;
     /* Generic project styles */
     color: #3a3a3a;
     font-family: 'Comfortaa', sans-serif;
 }
/* separate h1, h2 and h3 styles */
 h1 {
     font-family: 'Ubuntu', sans-serif;
     letter-spacing: 2px;
     color: #0A0A33;
     font-size: 3rem;
 }

  h2 {
      font-family: 'Ubuntu', sans-serif;
      letter-spacing: 2px;
      color: #0A0A33;
      font-size: 2rem;
  }

  h3 {
      font-family: 'Ubuntu', sans-serif;
      letter-spacing: 2px;
      color: #0A0A33;
      font-size: 1.3rem;
  }

 /* Header */
 header {
     background-color: #CCCCFF;
     padding: 0 1rem;
     position: fixed;
     z-index: 99;
     width: 100%;
     box-shadow: 0 2px 2px #3a3a3a;
     display: flex;
     justify-content: space-between;
     align-items: baseline;
 }

 header a {
     text-decoration: none;
     color: inherit;
 }

 #menu {
     font-size: 110%;
     letter-spacing: 3px;
     list-style-type: none;
 }

 #menu > li {
     margin-bottom: 1em;
 }

 .active {
     border-bottom: 1px solid #0A0A33;
 }

 /* Navbar styles with dropdown toggle */
 nav {
     position: absolute;
     background-color: #CCCCFF;
     width: 100%;
     left: 0;
     padding: 0 1rem;
     box-shadow: 0 1px 2px #3a3a3a;
     display: none;
     top: 100%
 }

 /* Nav Toggle */
 #nav-toggle:checked~nav {
     display: block;
 }

 #nav-toggle {
     display: none;
 }

 .nav-toggle-label {
     font-size: 2rem;
 }

 /* Main Content */
 main {
     /* Make main element take up the surplus space to push down the footer */
     flex: 1 0 auto;
     margin-top: 55px;
 }

 /* Hero Section */
 #hero {
    height: 600px;
    width: 100%;
    background: url("../images/sioga-hero-image.jpg") no-repeat center center/cover;
    position: relative;
 }

 #cover-text {
    /* Use a 4th rgba value to set the transparency*/
    background-color: rgba(92, 92, 153, .7);
    font-size: 130%;
    position: absolute;
    bottom: 30px;
    width: 70%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
 }

#cover-text > h2, #cover-text > h3 {
    color: #ffffff;
}

/* Add specific styles for about page here */
#offerings {
    height: 500px;
    width: 100%;
    background: url("../images/sioga-offerings-image.jpg") no-repeat center center/cover;
    position: relative;
}

 #offerings-overlay {
    height: 500px;
    width: 100%;
    background-color: rgba(92, 92, 153, .7);
    position: relative;
 }

 #offerings-float {
     position: absolute;
     bottom: 15%;
     padding-top: 40px;
     padding-left: 10px;
 }

 .white-heading {
    color: #ffffff
 }

 .padding {
    padding-left: 10px;
 }

 #offers-list {
    padding: 10px;
    list-style: square inside;
 }

 /* Footer */
 #social-networks {
    background-color: #A3A3CC;
        text-align: center;
        padding: 20px 0;
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;
 }

 #social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #0A0A33;
 }

 /* Media query: tablets and larger (768px and up) */
 @media screen and (min-width: 780px) {

     /* Header */
     nav {
         display: block;
         position: relative;
         box-shadow: none;
         width: fit-content;
         padding-right: 1rem;
     }

     #menu {
         display: flex;
     }

     #menu > li {
         padding-left: 1rem;
         letter-spacing: 2px;
     }

     .nav-toggle-label {
         display: none;
     }

     #logo {
         font-size: 280%;
         line-height: 75px;
         margin: 0 0.5rem;
     }

     /* Main content */
     main {
         /* Push main content down to accomodate larger header */
         flex: 1 0 auto;
         margin-top: 75px;
     }

     /* Hero */
     #cover-text {
        width: 300px;
        right: 50px;
     }
 }

 /* Large devices (laptops and desktops, 992px and up) */
 @media screen and (min-width: 992px) {
     #menu a:hover {
         border-bottom: 1px solid #0A0A33
     }
 }